body {
	background-image: url(../images/background2.jpg);
	background-size: cover;
}

.jumbotron {
	background: rgba(61, 64, 68, 0.7);
}

.card {
	opacity: 0.9;
}

#train {
	height: 26px;
	width: 26px;
}

td, th {
	text-align: center;
}

input:not(#add-train) {
	margin-bottom: 1.5em;
	width: 100%;
}

label {
	font-weight: bold;
}

#add-train {
	font-weight: bold;
	width: 10%;
}